body{
background:#e7e7e7;
color:#333;
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#ddd;
}

.logo{
font-weight:bold;
font-size:30px;
}

nav a{
margin-left:20px;
text-decoration:none;
color:#333;
font-weight:bold;
}

/* home */



h2{
    text-align:center;
margin-bottom:30px;
font-size: x-large;
}
.gallery{
max-width:1000px;
margin:60px auto;
padding:20px;

}
.gallery-grid{
display:grid;
grid-template-columns:repeat(3, 1fr);
gap: 10px;
}

.gallery-item{
position:relative;
overflow:hidden;
}

.gallery-item img{
width:100%;
height:250px;
object-fit:cover;
display:block;
}

.criteri {
max-width:1000px;
margin:60px auto;
padding:20px;
}

.gallery-criteri {
display:grid;
grid-template-columns:repeat(3, 1fr);
gap: 5%;
}

.gallery-criteri a{
    background-color: white;
    border-radius: 20px;
    text-align: center;
}



.gallery-criteri img{
width:100%;
height:250px;
object-fit:cover;
border-radius: 20px 20px 0 0;
}



/* criteri */
.pagina-criterio{
margin: auto;
max-width: fit-content;
}

.card img{
width: 260px;
    height: 400px;
    object-fit: cover;
}

.pagina-criterio h3 {
padding: 0 20px;
}
.card{
background:white;
display: flex;
margin-bottom: 50px;
}

.card p {
    max-width: 600px;
}


.chisiamo{
max-width:1000px;
margin:0 auto;
}

.about-box{
background:white;
display: flex;
margin-bottom: 50px;
gap: 20px;
padding: 20px;
}

footer{
text-align:center;
padding:20px;
background:#ddd;
}




.overlay{
position:absolute;
bottom:0;
left:0;
width:100%;
background:rgba(0,0,0,0.6);
color:white;
padding:10px;
font-size:14px;
text-align:center;
}

@media (max-width: 800px){

.card{
flex-direction: column;
}

.card img{
width: 100%;
height: auto;
}

}